apiVersion: v1
kind: Secret
metadata:
  name: zonehero-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "y0ur-t0k3n",
      "aws_region": "eu-west-1",
      "aws_profile": "default",
      "partition": "aws"
    }
